# Copy this file to .env and fill in your API keys
# DO NOT commit .env to git!

AZURE_MAPS_KEY=your-azure-maps-key-here
PTV_DEVELOPER_API_KEY=your-ptv-developer-api-key-here
c:\Users\joseph.phillips\OneDrive - PTV Logistics GmbH\Documents\Brand Toolkit\Extern_Template_PTV Logistics_07-2025.pptx
c:\Users\joseph.phillips\OneDrive - PTV Logistics GmbH\Documents\Training Material\Master Preso.pdf